<%- include('../partials/header') %>

<h2>Profile Page</h2>
<form action="/profile/<%=user._id%>?_method=PUT" method="POST">
<label for="username"> Username</label>
  <input id="username" type="text" name="name" value="<%=user.name%>"/>
  <button type="submit">Submit</button>
</form>


<%- include('../partials/footer') %>
