<%- include('../partials/header') %>

<h2>Add a New Chapter</h2>

<form action="/stories/<%=story._id%>/chapter" method="POST">
  
  <label>
    Title
    <input type="text" name="title" />
  </label>

  <label> Story </label>
  <textarea id="storytextarea" name="content"></textarea>
  <button type="submit">Add Chapter</button>
</form>

<%- include('../partials/footer') %>
