<%- include('./partials/header') %>

<section class="container hero">
  <div class="row">
    <h1 class="col-6">Community-Driven Stories.</div>  
  </div>

  <div class="row">
    <h2 class="col-5">Readers and writers join together to craft unique storytelling experiences.</h2>
    <img class="col-5" src="" alt="" />
  </div>

  <div class="row">
   <a href="/auth/google" class="col-2 join">Join Now</a>
  </div>
</div>
</section>

<section class="container d-flex flex-column trending">

  <div class="row justify-content-center trending-title">
    <h3 class="col-6 text-center">Trending Stories</h3>
  </div>

  <div class="row">
    <img class="col-2" src="" alt="" />
    <img class="col-2" src="" alt="" />
    <img class="col-2" src="" alt="" />
  </div>

  <div class="row justify-content-center">
    <p class="col-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in euismod justo. Suspendisse dignissim magna.</p>
    <p class="col-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in euismod justo. Suspendisse dignissim magna.</p>
    <p class="col-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in euismod justo. Suspendisse dignissim magna.</p>
  </div>

  <div class="row justify-content-center">
    <a href="#" class="col-2 read">Read Now</a>
    <a href="#" class="col-2 read">Read Now</a>
    <a href="#" class="col-2 read">Read Now</a>
  </div>

  <div class="row">
    <a class="col-2" href="/stories">Browse more stories ⟶</a>
  </div>
</section>

<section class="container d-flex flex-column features">
  <div class="row justify-content-center features-title">
    <h3 class=" col-6 text-center">Write Your Stories. Join a Community.</h3>
  </div>

  <!-- <div class="row justify-content-center">
    <img class="col-4" src="" alt="" />
    <p class="col-4 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in euismod justo. Suspendisse dignissim magna.</p>
  </div>

  <div class="row justify-content-center">
    <p class="col-4 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in euismod justo. Suspendisse dignissim magna.</p>
    <img class="col-4" src="" alt=""/>
  </div>

  <div class="row justify-content-center">
    <img class="col-4" src="" alt="" />
    <p class="col-4 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in euismod justo. Suspendisse dignissim magna.</p>
  </div> -->

  <!-- ONE -->
  <div class="features-content">

    <div>
      <div class="row justify-content-center">
        <img class="col-4" src="stylesheets/book.png" style="width: 150px" alt="" />
      </div>

      <div class="row justify-content-center">
        <p class="col-4 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in euismod justo. Suspendisse dignissim magna.</p>
      </div>

      <div class="row justify-content-center">
        <img class="col-4" src="stylesheets/book.png" style="width: 150px" alt="" />
      </div>

    </div>
  <!-- TWO -->

  <div>

    <div class="row justify-content-center">
      <img class="col-4" src="stylesheets/test.png" style="height: 750px; width: auto" alt="" />
    </div>

  </div>

  <!-- THREE -->

 
<div>
    <div class="row justify-content-center">
      <p class="col-4 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in euismod justo. Suspendisse dignissim magna.</p>
    </div>

    <div class="row justify-content-center">
      <img class="col-4" src="stylesheets/book.png" style="width: 150px" alt="" />
    </div>

    <div class="row justify-content-center">
      <p class="col-4 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in euismod justo. Suspendisse dignissim magna.</p>
    </div>

  </div>
</div>

  <div class="row justify-content-center">
   <a href="/auth/google" class="col-2 join">Join Now</a>
  </div>

  <div class="row">
    <a class="col-4" href="#">Learn more about our tools for writers ⟶</a>
  </div>
</section>
   

<%- include('./partials/footer') %>
