<%- include('./partials/header') %>

<section class="container">
  
  <div class="row">
    <h1 class="col-6">Community-Driven Stories.</div>  
  </div>

  <div class="row">
    <h2 class="col-5">Readers and writers join together to craft unique storytelling experiences.</h2>
    <img class="col-5" src="" alt="" />
  </div>

  <div class="row">
    <button class="col-2">Join Now</button>
  </div>
</div>

<section class="container">
  <div class="row">
    <h3 class="col-6">Trending Stories</h3>
  </div>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-2"></div>
  </div>

  <div class="row">
    <p class="col-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in euismod justo. Suspendisse dignissim magna.</p>
    <p class="col-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in euismod justo. Suspendisse dignissim magna.</p>
    <p class="col-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in euismod justo. Suspendisse dignissim magna.</p>
  </div>

  <div class="row">
    <button class="col-2">Read Now</button>
    <button class="col-2">Read Now</button>
    <button class="col-2">Read Now</button>
  </div>

  <div class="row">
    <a class="col-2" href="/stories">Browse more stories -></a>
  </div>
</section>

<section class="container">
  <div class="row">
    <h3 class="col-6">Write Your Stories. Join a Community.</h3>
  </div>

  <div class="row">
    <img class="col-4" src="" alt="" />
    <p class="col-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in euismod justo. Suspendisse dignissim magna.</p>
  </div>

  <div class="row">
    <p class="col-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in euismod justo. Suspendisse dignissim magna.</p>
    <img class="col-4" src="" alt=""/>
  </div>

  <div class="row">
    <img class="col-4" src="" alt="" />
    <p class="col-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in euismod justo. Suspendisse dignissim magna.</p>
  </div>

  <div class="row">
    <button class="col-2">Join Now</button>
  </div>

  <div class="row">
    <a class="col-4" href="#">Learn more about our tools for writers -></a>
  </div>
</section>
   

<%- include('./partials/footer') %>
