<%- include('../partials/header') %>

<h2>Start a New Story</h2>

<form action="/stories" method="POST" class="new-story-form">

  <label><h4>Rating</h4></label>
    <select name="rating">
      <option disabled selected>--SELECT RATING--</option>
      <option value="General">General</option>
      <option value="Teen">Teen</option>
      <option value="Mature">Mature</option>
      <option value="Explicit">Explicit</option>
    </select>
 

  <label><h4>Warning</h4></label>
   <% warningOptions.forEach((warning) => { %>
        <label>
          <input type="checkbox" name="warning" value="<%=warning%>"/>
          <%=warning%>
        </label>
   <% }) %>
  

  <label><h4>Thumbnail</h4></label>
    <input type="text" name="thumbnail" placeholder="Input a URL"/>
  

  <label><h4>Summary</h4></label>
  <textarea name="summary"></textarea>

  <label><h4>Title</h4></label>
    <input type="text" name="title" />
  

  <label><h4>Text Editor</h4></label>
  <textarea id="storytextarea" name="content"></textarea>
  <button type="submit">Add Story</button>
</form>

<%- include('../partials/footer') %>
