.hero-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-image {
  width: 100%;
  height: auto
}

.join-cta, .read-cta {
  border-radius: 0.25rem;
  background: #3E81ED;
  height: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;  
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw
}

.recent-stories {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stories-container {
  display: flex
}

.stories-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  margin: 10px
}

.story-thumbnail {
  height: 25vw;
  width: auto
}

.story-summary {
  text-align: center;
}

.read-cta {
  background: #EDAA3E;
  margin-top: auto
}