main {
  min-height: 100vh
}

/* INDEX.EJS */

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-image {
  width: 100%;
  height: auto
}

.main-cta, .read-cta {
  border-radius: 0.25rem;
  background: #3E81ED;
  height: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;  
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw
}

.recent-stories {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.recent-stories > h3 {
  margin-bottom: 5vh;
}

.recent-stories > a {
  text-decoration: none;
  margin-top: 5vh
  /* align-self: flex-start; */
}

.stories-container {
  display: flex;
  width: 100%;
}

.stories-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  margin: 10px
}

.story-thumbnail {
  height: 25vw;
  width: 18vw;
  object-fit: cover;
}

.story-summary {
  text-align: center;
}

.read-cta {
  background: #EDAA3E;
  margin-top: auto
}

/* STORIES/NEW.EJS */

.story-form {
  display: flex;
  flex-direction: column
}

select {
  width:fit-content
}

textarea {
  resize: none;
}

form > button {
  width: fit-content
}

/* STORIES/SHOW.EJS */

.story-start {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.comments-section {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}

.comments-section > form > button {
  align-self: flex-end;
}

.comments-section > h4 {
  text-align: center;
  margin-top: 5vh;
}

.created-comments {
  border: solid rgb(227, 227, 227) 1px;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
}

.created-comments > a, .created-comments > form {
  align-self: flex-end;
}

.comment-user-info {
  background: rgb(227, 227, 227);
}